.about{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.about-title{
    position: relative;
}
.about-title h1{
    padding: 0px 30px;
    font-weight: 600;
    font-size: 80px;
}
.about-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.profile-img{
    border-radius: 500px;
    max-width: 300px;
}
.about-section{
    display: flex;
    gap: 80px;
}
.about-right{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.about-para{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    font-weight: 500;
}
.about-skills{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about-skill{
    display: flex;
    gap: 50px;
    align-items: center;
    transition: 0.3s;
}
.about-skill p{
    min-width: 200px;
    font-size: 24px;
    font-weight: 500;
}
.about-skill hr{
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 100%);
}
.about-acheivements{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 80px;
}
.about-acheivement{
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
    flex-direction: column;
}
.about-acheivement h1{
    font-size: 60px;
    font-weight: 700;
    background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-acheivement p{
    font-size: 17px;
    font-weight: 500;
}
.about-skill:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.about-acheivement:hover{
    transform: scale(1.15);
    transform: 0.5s;
}
@media(max-width: 768px) {
    .about {
        gap: 50px;
        margin: 40px 20px;
        align-items: center;
        text-align: center;
    }

    .about-title h1 {
        font-size: 40px;
        padding: 0;
    }

    .about-title img {
        width: 100px;
        right: 0;
    }

    .about-section {
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    .about-left {
        display: none;
    }

    .about-para {
        font-size: 16px;
        line-height: 28px;
    }

    .about-skill {
        gap: 15px;
        align-items: center;
        flex-direction: column;
    }

    .about-skill p {
        font-size: 18px;
    }

    .about-skill hr {
        height: 4px;
        width: 80%;
    }

    .about-acheivements {
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .about-acheivement {
        gap: 5px;
        flex-direction: column;
    }

    .about-acheivement h1 {
        font-size: 28px;
        font-weight: 700;
    }

    .about-acheivement p {
        text-align: center;
        font-size: 14px;
    }
}
