.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 8%;
    padding: 10px 0;
}

.nav-menu {
    display: flex;
    font-size: 20px;
    align-items: center;
    list-style: none;
    gap: 50px;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.nav-menu li img {
    margin: auto;
}

.anchorlink {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.anchorlink:hover {
    color: #B923E1; /* Smooth color transition on hover */
}

.nav-connect {
    padding: 15px 25px;
    cursor: pointer;
    border-radius: 50px;
    font-size: 20px;
    background: linear-gradient(267deg, #da7c25 .36%, #B923E1 102.6%);
    transition: transform 0.3s;
}

.nav-connect:hover {
    transform: scale(1.1);
}

/* Mobile Menu */
.nav-mob-open,
.nav-mob-close {
    display: none;
    cursor: pointer;
}

@media (max-width: 760px) {
    .navbar {
        margin: 20px 5%;
        padding: 10px 0;
    }

    .nav-connect {
        display: none;
    }

    .nav-mob-open {
        display: block;
        position: fixed;
        right: 20px;
        top: 15px;
        width: 35px;
        cursor: pointer;
        z-index: 3;
    }

    .nav-mob-close {
        display: block;
        position: absolute;
        top: 20px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        right: -100%;
        gap: 30px;
        background: rgba(31, 0, 22, 0.95);
        width: 300px;
        height: 100vh;
        z-index: 2;
        padding-top: 80px;
        padding-left: 40px;
        transition: right 0.5s ease-in-out;
    }

    .nav-menu.open {
        right: 0;
    }

    .nav-menu li {
        font-size: 24px;
        flex-direction: row;
        gap: 15px;
    }
}
